.about {
  // margin: 0 20px 20px;
  // // display: flex;
  // // justify-content: center;
  // // align-items: flex-start;
  // // flex-flow: column wrap;
  margin-top: 20px;
  width: 110%;
}
.avatar {
  margin-left: 10px;
}

// .block {
//     display: flex;
//         vertical-align: top;
//         flex-flow: column wrap;
//         margin: 0 20px 20px;
// }

// .bio {

// }
.block {
  vertical-align: top;
  display: inline-block;
  margin-bottom: 40px;
}

.avatar {
  margin-right: 10px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.bio {
  width: 600px;
  margin-top: 70px;
  padding-left: 205px;
  margin-bottom: 80px;
}

.about ul {
  list-style: none;
  margin-left: 0;
  margin-top: 60px;
}

.about ul > li {
  margin-bottom: 25px;
}
