.blogPostPreview {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.head {
    display: flex;
    justify-content: space-between;
}

.more {
    font-weight: 700;
    font-size: 16px;
}

.pagination {
    // margin: auto;
    text-align: center;
}