.Link {
  font-weight: 700;
  text-decoration: none;
}
.header {
  padding: 1rem 0 3rem;
}
.text,
.mark {
  font-size: 28px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  font-size: 1rem;
}
.right {
  display: flex;
  position: relative;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}
.menu {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  list-style: none;
  border-right: 1px solid;
  margin-right: 10px;

  li {
    margin: 0 12px;
  }

  &Trigger {
    margin-right: 10px;
    padding: 0;
    line-height: 0;
    background: none;
    color: inherit;
    border: none;
    box-shadow: none;
    outline: none;
    appearance: none;
    cursor: pointer;
  }

  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
